html {
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  grid-template-columns: min-content 1fr;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(70, 70, 70);
  color: white;
}
* {
  box-sizing: border-box;
}

header {
  grid-column: 1 / 9;
  text-align: center;
  background: rgb(109, 11, 63);
  color: rgb(24, 105, 146);
  position: relative;
}
header::after {
  position: absolute;
  content: '';
  height: 10px;
  width: 100%;
  background: white;
  left:0;
  right: 0;
  bottom: -1px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  
}
.not-found a {
  font-weight: 700;
  color: blue;
}

.flex {
  display: flex;
}

.fx-center {
  align-content: center;
  vertical-align: middle;
  margin: auto;
}

.fx-col {
  flex-direction: column;
}

.hidden {
  display: none;
}

.btn {
  background-color: rgb(34, 33, 33);
  border-color: white;
  cursor: pointer;
  border-radius: 0.6rem;
  width: 100%;
  color: white;
  font-size: 1rem;
  line-height: 1.375rem;
  min-height: 1.6rem;
}

.btn-modal{
  background-color: var(--light-gray);
  border-radius: 0.5rem;
  font-weight:bolder ;
  text-align: left;
  padding-left: 0.5em;
}

