html {
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  grid-template-columns: min-content 1fr;
  font-family: "Futura-CondensedExtraBold", Futura, sans-serif;
  background-color: rgba(23, 29, 36, 0.85);
  color: #ccd6f6;
}
* {
  box-sizing: border-box;
}

header {
  grid-column: 1 / 9;
  /* text-align: center; */
  background: rgba(170, 8, 94,0.75);
  color: rgb(24, 105, 146);
  position: relative;
}
header::after {
  position: absolute;
  content: '';
  height: 10px;
  width: 100%;
  background: #ccd6f6;
  left:0;
  right: 0;
  bottom: -1px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  
}
.not-found a {
  font-weight: 700;
  color: blue;
}

.flex {
  display: flex;
}

.fx-center {
  align-content: center;
  vertical-align: middle;
  margin: auto;
}

.fx-col {
  flex-direction: column;
}

.hidden {
  display: none;
}

.btn {
  background-color: rgba(23, 29, 36, 0.95);
  border-color: #ccd6f6;
  cursor: pointer;
  border-radius: 0.6rem;
  width: 100%;
  color: #ccd6f6;
  font-size: 1rem;
  line-height: 1.375rem;
  min-height: 1.6rem;
  margin-top: 1.1rem;
}

.errors {
  color: red;
  margin:0.5rem auto;
  font-family: 'Futura';
}


