html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(70, 70, 70);
  background-image: url('/quiz-transp.gif');
  background-repeat: no-repeat;
  background-size: 35%;
  background-position-y: 15vh;
  background-position-x:55vw;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  
}
.not-found a {
  font-weight: 700;
  color: blue;
}

.flex {
  display: flex;
}

.fx-center {
  align-content: center;
  vertical-align: middle;
  margin: auto;
}

.fx-col {
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
