.title a,
.title span {
  color: rgb(25,101, 147);;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  font-size: 4rem;
  position: relative;
  display: flex;
  background: rgb(50, 50, 50);
  height: 100%;
  padding: 0 5%;
  width: 100%;
}

.title,
.description {
  text-align: left;
}

.img {
  display: flex;
  justify-content: center;
  flex-basis:18%;
}
.int {
    font-size: 56px;
    color: #B9136B !important;
    padding: 0;
    margin: -10px 22% 0 auto;
    display: inline-block;
    line-height: 0.8;
}
.js {
  font-size: 130px;
  padding: 0;
  margin: 0;
  display: inline-block;
  line-height: 1;
}

.prep {
  font-size: 180px;
    text-transform: uppercase;
    color: white !important;
    padding: 0;
    margin: 0;
    display: inline-block;
    line-height: 1.1;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}
