.nav {
    height: 50px;
    padding: 10px;
    background: white;
    color: rgb(37, 37, 37);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position:fixed;
    top:0;
    left:0;
    right: 0;
  }
  
  .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .nav ul li a {
    margin: 5px 15px;
    cursor: pointer;
  }
  
  .logo {
    display: flex;
    align-content: flex-end;
    margin-left: auto;
    margin-top: 50vh;
  }