.question {
    font-family: 'Futura';
    font-size:1.2rem;
}

.answers input {
    border-color: rgb(25,101, 147);
}
.answers, .answer__checked {
    position: relative;
    z-index:1;
    color: #ccd6f6;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    padding-left: 0.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    background: rgba(2, 12, 27,0.2);
    border:2px solid #ccd6f6;
    margin-top: 0.5rem;
    width: 100%;
    line-height: 1.5; 
}

.answers::before {
  position: absolute;
  z-index:-1;
  content: '';
  height: 100%;
  background: #ccd6f6;
  width: 100%;
  left: 0;
  right: 0;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  transform-origin: right;
}

.answers:hover {
    color: #272e38;
}
.answers:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}

.answer__checked {
    color: #272e38;
    background: #ccd6f6;
}

.card_quiz {
    background: #272e38;
    margin: 1rem;
    padding: 1.6rem 2.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #ccd6f6;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 40vw;
  }

  .score {
    font-family: 'Futura';
  }

  .score span {
      text-transform: uppercase;
  }